# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\EMS\TensorFlow 2.0 tutorial\Deep-Learning-with-TensorFlow-book-master\My_Code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
